.App {
  background: url("https://img.freepik.com/free-photo/blur-short-white-hospital-walkway-background_7180-2422.jpg?w=2000") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

html {
  background: url("https://img.freepik.com/free-photo/blur-short-white-hospital-walkway-background_7180-2422.jpg?w=2000") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  color: white;
  text-decoration: none;
}

.buttonText {
  color: white;
  margin: 20px;
  opacity: 100;
}

.bg-grey {
background-color: dimgray;
}

.btn-primary {
  background-color: dimgray !important;
  border-color: dimgray !important;
}

.navBar {
  border-radius: .5rem;
  opacity: 0.7;
}

.loginContainer {
  margin-top: 150px;
  display: inline-block;
  clear: right;
  text-align: center;
  width: 250px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
}

.inputLogin {
  opacity: .7;
  border-radius: .3rem;
}

.createProfileForm { 
  margin-top: 150px;
  display: inline-block;
  clear: right;
  text-align: center;
  width: 250px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
}

.createProfileForm {
  margin-top: 150px;
  display: inline-block;
  clear: right;
  text-align: center;
  width: 250px;
}

.createProfileInput {
  opacity: .7;
  border-radius: .3rem;
}

.buttonChoice {
  margin-top: 50px;
}

.addPatient {
  margin-top: 150px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
  width: 500px;
  display: inline-block;
}

.patientGoals {
  margin-top: 150px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
  width: 500px;
  display: inline-block;
}

.patientRom {
  margin-top: 150px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
  width: 1500px;
  display: inline-block;
}

.patientMMT {
  margin-top: 150px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
  width: 1500px;
  display: inline-block;
}

ul {
  list-style-type: none;
}

.patientGait {
  margin-top: 50px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
  width: 1000px;
  display: inline-block;
}

.presentationButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.deviceCard {
  margin-top: 50px;
  padding-right: 10px;
  background: dimgray;
  background-color: dimgray;
  display: inline-block;
  border-radius: .75rem;
  box-shadow: 10px 5px 5px black
}

.patientCard {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  background: dimgray;
  background-color: dimgray;
  display: inline-block;
  border-radius: .75rem;
  box-shadow: 10px 5px 5px black
}

.card {
  background: dimgray !important;
  background-color: dimgray !important;
  color: white;
  opacity: .7;
}

.editProfile {
  margin-top: 150px;
  display: inline-block;
  clear: right;
  text-align: center;
  width: 250px;
  border: 2px solid dimgray;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: .75rem;
}



