.App {
  background: url("https://img.freepik.com/free-photo/blur-short-white-hospital-walkway-background_7180-2422.jpg?w=2000") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

html {
  background: url("https://img.freepik.com/free-photo/blur-short-white-hospital-walkway-background_7180-2422.jpg?w=2000") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  color: white;
  text-decoration: none;
}

.buttonText {
  color: white;
  margin: 20px;
}

.navBar {
  border-radius: .5rem;
}

.loginContainer {
  margin-top: 150px;
}

.inputLogin {
  box-shadow: 10px 5px 5px black
}




